@import './utils/null.css';
@import './module/main.module.css';
.wrapper {
    padding: 50px 0;
    background-color: #ECEDF2;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 789px;
    margin: 0 auto;
}

.main {
    margin-top: 50px;
}

.user-info-block-wrapp {
    margin-bottom: 40px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info-block-wrapp .user-avatar-wrapp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #F39E73;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info-block-wrapp .user-avatar-wrapp img {
    width: 80px;
}

.user-info-block-wrapp .user-name {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

.user-info-block-wrapp .user-phone,
.user-info-block-wrapp .user-mail {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #8A8A8A;
    transition: .3s;
}

.user-info-block-wrapp .user-phone:hover,
.user-info-block-wrapp .user-mail:hover {
    color: #F39E73;
}

.user-info-block-wrapp .user-mail {
    margin-top: 10px;
}

.btn-user {
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.btn-user:hover .wrapp-btn-img img {
    transition: .5s;
}

.btn-user:hover .wrapp-btn-img img {
    position: relative;
    transform: rotate(360deg);
}

.btn-user .wrapp-btn-img {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
}

.btn-user span {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
}

#create-user {
    background-color: #378474;
}

#generate-user {
    background-color: #7162BB;
}


/* modal */

.modal {
    backdrop-filter: blur(5px);
}

.modal .modal-dialog {
    max-width: 400px;
}

.modal .modal-dialog .modal-content {
    padding: 20px;
    border-radius: 15px;
}

.modal .modal-content .modal-header {
    border-bottom: none;
}

.modal .modal-content .modal-header .modal-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
}

.modal .modal-content .modal-footer {
    border-top: none;
}

.modal .btn-user {
    display: inline-block;
    padding: 11px 0;
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    transition: .3s;
    background-color: #fff;
}

.modal .btn-user:hover {
    background-color: transparent;
    color: #fff;
    border: none;
}

.modal .btn-user:focus {
    border: none;
    background-color: transparent;
}

#loader {
    display: none;
}

.loading {
    display: block !important;
}

#avatar-preview img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

@media screen and (min-width: 1500px) {
    .wrapper {
        border-radius: 50px;
    }
}

@media screen and (max-width: 991px) {
    .wrapper {
        max-height: none;
        height: auto;
    }
    #create-user {
        margin-bottom: 20px;
    }
    #generate-user {
        margin-bottom: 40px;
    }
}

.loading-table {
    display: none;
}

.loading-table.active {
    display: block;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}